/*.product-details .quantity-left-minus {
    background: transparent;
    padding: 0 15px; }
  
  .product-details .quantity-right-plus {
    background: transparent;
    padding: 0 15px; }*/

/*.input-group .input-group-btn .quantity-two {
    margin-right: 0;
}

.row .input-group #quantity {
    margin-left: 50px !important;
}*/