.ftco-section .row img {
    width: 100%;
}

.ftco-section .CartTitle {
    background: #5A4D4C;
    border: none;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.CartItem div {
    margin: auto;
}

.CartContext {
    display: flex;
}

@media screen and (max-width: 767px) {
    .CartTitle {
        display: none;
    }

    .CartContext {
        display: block;
    }

    .CartItem {
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    #CartName span:last-child {
        display: none;
    }
}